* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to top left, #05b5af, #056cb5);
	background-attachment: fixed;
}

#container {
	width: 500px;
	margin: 200px auto;
	position: relative;
}

#showFaultUserName, #showFaultPasswd {
	margin-left: 50px;
	margin-bottom: 10px;
	color: red;
	font-style: italic;
}

#unameForm {
	display: block;
	width: 400px;
	height: 26px;
	margin: auto;
	margin-bottom: 3px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	border: none;
}

#pwForm {	
	display: block;
	width: 400px;
	height: 26px;
	margin: auto;
	margin-bottom: 5px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	border: none;
}

#lgForm {
	display: block;
	margin: auto;
	font-size: 20px;
	padding: 10px;
	width: 420px;
	color: white;
	font-size: 22px;
    	border-radius: 10px;
    	background-color: #ed2445;
    	border: none;
}

#footer {
	text-align: center;	
	font-size: 18px;
	margin-top: 20px;
}

#footer a {
	font-weight: bold;
	/*text-decoration: none;*/
}
